 .card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
 }

 .card__like-button {
  background-image: url(../images/Union.svg);
  width: 23px;
  height: 20px;
  opacity: 40%;
  background-color: transparent;
  border: none;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
 }

 .card__like-button:hover {
  opacity: 1;
  cursor: pointer;
 }

 .card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
 }

 .card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: rgba(33, 33, 33, 1);
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
 }

 @media screen and (max-width: 627px) {
.card__image {
  height: 288px;
}

.card__title {
  font-size: 16px;
  line-height: 1.0;
  max-width: 250px;
  color: #212121
}

.card__like-button {
  height: 18px;
  padding: 0;
  border: 2px;
}

