.modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity:0;
  transition:0s linear 0.5s, 0.5s linear;
}

.modal_is-opened {
visibility: visible;
opacity:1;
transition-delay:0s;
}

.modal__container {
  box-sizing: border-box;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
background-color: #fff;
padding: 32px 50px;
position: relative;
}

.modal__close-btn {
  cursor: pointer;
  position: absolute;
  right: 50px;
  top: 32px;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  opacity: 40%;
}

.modal__close-btn:hover {
  color: rgba(33,33,33,1);
  opacity: 100;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins, Arial, sans-serif;
font-weight: 500;
font-size: 32px;
line-height: 100%;
letter-spacing: 0%;

}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  font-size: 20px;
  line-height: 1;
  box-sizing: border-box;
  display:block;
  width: 100%;
  border-radius: 8px;
  margin: 8px 0 0;
  padding: 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.4);
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);

}

.modal__label {
  margin: 0 0 32px;
  font-family: Poppins, Arial, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 110.00000000000001%;
letter-spacing: 0%;
color: rgba(33, 33, 33, 0.7);


}

.modal__submit-btn {
  max-width: 156px;
  cursor: pointer;
  width: 100%;
  background: rgba(33, 33, 33, 1);
  color: #fff;
  border-radius: 8px;
  padding: 18px 32px;
  border: none;
}

.modal__submit-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

@media screen and (max-width: 320px) {
  .modal__submit-btn {
    max-width: none;
    width: 100%;
  }

  .modal {
    padding: 0 10px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__input {
font-size: 16px;
  }

  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__close-btn {
    top: 22px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }
}
