.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__add-btn {
margin-left: auto;
margin-top: auto;
height: 52px;
border-radius: 8px;
background-color: #212121;
padding: 18px 32px;
color: #fcf5e5;
gap: 8px;
font-weight: 500;
font-size: 16px;
display: flex;
align-items: center;
text-wrap: none;
}

.profile__add-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.button__image {
  width:12px;
  height: 12px;
  border: 2px;
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 8px;
  height: 190px;
  width: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  line-height: 1.0;
  font-size: 32px;
  color: rgba(33, 33, 33, 1);
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-weight: 500;
  line-height: 1.0;
  font-size: 16px;
  color: rgba(33, 33, 33, 0.7);
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__button {
  margin-top: auto;
  background-color: transparent;
  opacity: 70%;
  border: none;
  color: rgba(33, 33, 33, 1);
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile__button:hover {
  transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding: 20px 0;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
    margin: 0 0 12px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    line-height: 1.0;
    max-width: 288px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
    justify-content: center;
    font-size: 16px;
    line-height: 1.0;
  }

  .profile__column {
    margin-bottom: 20px;
  }

  .profile__button {
    justify-content: center;
    width: 100%;
    margin: 32px 0 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.0;
  }

  .profile__description {
    font-size: 16px;
    max-width: 288px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .footer {
    font-size: 16px;
    line-height: 1.0;
  }
}